<a href="https://colab.research.google.com/github/ARUSALKHOFIQOYNI/datamining/blob/main/notebooks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TUGAS

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Create dataset from Google Drive
dataset_url = "https://raw.githubusercontent.com/ARUSALKHOFIQOYNI/dataset/main/obama_staff_salaries.csv"
data = pd.read_csv(dataset_url)
data.head(5)

,name,status,salary,pay_basis,title,year
0,"Abraham, Yohannes A.",Employee,$40000.00,Per Annum,LEGISLATIVE ASSISTANT AND ASSISTANT TO THE HOU...,2009
1,"Abrams, Adam W.",Employee,$65000.00,Per Annum,WESTERN REGIONAL COMMUNICATIONS DIRECTOR,2009
2,"Adams, Ian H.",Employee,$36000.00,Per Annum,EXECUTIVE ASSISTANT TO THE DIRECTOR OF SCHEDUL...,2009
3,"Agnew, David P.",Employee,$92000.00,Per Annum,DEPUTY DIRECTOR OF INTERGOVERNMENTAL AFFAIRS,2009
4,"Ahrens, Rebecca A.",Employee,$42800.00,Per Annum,OPERATOR,2009

In [ ]:
def diss (a,b):
  n=0
  m=2
  for col in ['salary','year']:
    if data[col][a]== data[col][b]:
      n+=1
  return (m-n)/m

In [ ]:
print(diss(1,1))
print(diss(2,1))

0.0
0.5

#Diskritisasi

##loat data iris dataset
##lakukan diskritisasi pada data iris

In [24]:
# Create dataset from Google Drive
dataset_url = "https://raw.githubusercontent.com/ARUSALKHOFIQOYNI/dataset/main/Iris.csv"
data = pd.read_csv(dataset_url)
data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [23]:
import numpy as np
import pandas as pd

In [26]:
from sklearn.preprocessing import KBinsDiscretizer
est = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='uniform')
data['SepalLengthCm'] = est.fit_transform(data[['SepalLengthCm']])
data['SepalLengthCm']

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
145    2.0
146    2.0
147    2.0
148    2.0
149    1.0
Name: SepalLengthCm, Length: 150, dtype: float64

In [27]:
data1 = pd.DataFrame(data['SepalLengthCm'],columns = ['SepalLengthCm'])
data1

     SepalLengthCm
0              0.0
1              0.0
2              0.0
3              0.0
4              0.0
..             ...
145            2.0
146            2.0
147            2.0
148            2.0
149            1.0

[150 rows x 1 columns]

In [32]:
from sklearn.preprocessing import KBinsDiscretizer
est = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='uniform')
data['SepalWidthCm'] = est.fit_transform(data[['SepalWidthCm']])
data['SepalWidthCm']

0      2.0
1      1.0
2      2.0
3      1.0
4      2.0
      ...
145    1.0
146    0.0
147    1.0
148    2.0
149    1.0
Name: SepalWidthCm, Length: 150, dtype: float64

In [33]:
data1 = pd.DataFrame(data['SepalWidthCm'],columns = ['SepalWidthCm'])
data1

     SepalWidthCm
0             2.0
1             1.0
2             2.0
3             1.0
4             2.0
..            ...
145           1.0
146           0.0
147           1.0
148           2.0
149           1.0

[150 rows x 1 columns]

In [35]:
from sklearn.preprocessing import KBinsDiscretizer
est = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='uniform')
data['PetalLengthCm'] = est.fit_transform(data[['PetalLengthCm']])
data['PetalLengthCm']

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
145    2.0
146    2.0
147    2.0
148    2.0
149    2.0
Name: PetalLengthCm, Length: 150, dtype: float64

In [36]:
from sklearn.preprocessing import KBinsDiscretizer
est = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='uniform')
data['PetalWidthCm'] = est.fit_transform(data[['PetalWidthCm']])
data['PetalWidthCm']

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
145    3.0
146    3.0
147    3.0
148    3.0
149    2.0
Name: PetalWidthCm, Length: 150, dtype: float64

In [39]:
data = pd.DataFrame(data,columns =["SepalLengthCm","sepalWidthCm","PetalLengthCm","PetalWidthCm"])
data

     SepalLengthCm  sepalWidthCm  PetalLengthCm  PetalWidthCm
0              0.0           NaN            0.0           0.0
1              0.0           NaN            0.0           0.0
2              0.0           NaN            0.0           0.0
3              0.0           NaN            0.0           0.0
4              0.0           NaN            0.0           0.0
..             ...           ...            ...           ...
145            2.0           NaN            2.0           3.0
146            2.0           NaN            2.0           3.0
147            2.0           NaN            2.0           3.0
148            2.0           NaN            2.0           3.0
149            1.0           NaN            2.0           2.0

[150 rows x 4 columns]